body {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    /*background-image: url("https://static.wixstatic.com/media/e4f528_58923417c107462a86ebabdc8a08e177~mv2.png");*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/* nav bar + header */





/* title  */
.jumbotron {
    background-color: #fff;
    margin-top: 20%;

}

.display-4 {
    font-family: 'Lemon', cursive;
    font-size: 65px;
}

.lead {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 35px;
    justify-content: center;

}

/* main content / projects display */
.main-content {
    flex: 1;
    height: 750px;
    background-color: white;
    overflow: auto;
}

/* side bar */
.card {
    border: none;
}

.headshot {
    margin: 0 auto;
    border-radius: 50%;
    border: 1px white;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: left;
}


/* footer properties  */


/* media queries  */