/* header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}


.jumbotron {
    margin-top: 10%;
    background: transparent;

}

/* navbar  */
.nav-link {
    font-weight: bold;
    color: black;
}

.nav-link:hover {
    opacity: .7;
    color: black;
}


/* title  */
.site-title {
    margin-bottom: 10%;
    position: relative;
}

.display-4 {
    font-family: 'Lemon', cursive;
    font-size: 75px;
    -webkit-text-stroke: 1px #000;
    color: #000;
    text-shadow: 3px 3px 0 #ffa763,
    -1px -1px 0 #ffa763;
    /*-1px -1px 0 #ffa763;*/
    /*-1px -1px 0 #ffa763;*/
    /*-1px -1px 0 #ffa763;*/
}

.lead {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 45px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    /*background-image: url("https://static.wixstatic.com/media/e4f528_58923417c107462a86ebabdc8a08e177~mv2.png");*/
    background-image: linear-gradient(#fff, #fff, #fecbe5, #ffa763);
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: bottom;*/
    /*background-size: cover;*/
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}

/* main content + projects display */
.main-content {
    flex: 1;
    height: 750px;
    background-color: white;
    overflow: auto;
}

.card-container {
    background-color: transparent;
}

.skills {
    margin: 15%;
}

.project-links {
    color: #ffa763;
    font-weight: bold;
}

.project-links:hover {
    color: #ffa763;
    opacity: .5;
    text-decoration: none;
}

.sub-title {
    font-weight: bold;
}

.headers {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 25px;
    justify-content: left;
}

/* eventual side bar */
.card {
    border: none;
    /*background-color: transparent;*/
}


.headshot {
    margin: 0 auto;
    border-radius: 50%;
    border: 1px white;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: left;
    box-shadow: 15px 10px 10px #fecbe5;
}


/* footer properties  */

.footer {
    background-color: transparent;
    text-align: center;
    padding: 2.5em 0;
}


.social-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0;
    padding: 0;
}

.social-list-item {
    margin-right: 5em;
    margin-left: 5em;
    justify-content: center;
}

.social-list-link:hover {
    color: black;
    opacity: .7;
}

.footer-text {
    font-size: x-small;
}

.footer-text,
.icons8-tag {
    justify-content: center;
    margin: 0;
    padding: 0;
}

.icons8-tag,
.icons8-link {
    color: black;
    font-size: xx-small;
}

.icons8-link:hover {
    color: black;
    opacity: .7;
}

/* media queries  */
@media (min-width: 800px) {

}

@media (min-width: 600px) {
    .title {
        display: grid;
        grid-template-areas:
                "img title"
                "img subtitle";
        grid-template-columns: min-content max-content;
    }
}

