body{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    display: flex;
}
.sidebar{
    flex: 1;
    height:600px;
    width: 200px;
    background-color: blanchedalmond;
}
.main-content{
    flex: 1;
    height: 600px;
    background-color: white;
    overflow: auto;
}