body {
    margin: 0px;
    padding: 0px;
    font-family: 'Balsamiq Sans', sans-serif;
}

.wrapper {
    display: flex;
}

.sidebar {
    flex: 1;
    height: 600px;
    width: 150px;
    background-color: white;
}

.main-content {
    flex: 1;
    height: 750px;
    background-color: white;
    overflow: auto;
}

.welcome-header {
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: center;
}

.headshot {
    margin: 0 auto;
    border-radius: 50%;
    border: 1px white;
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: left;

}

.about-me {
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
}